{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5"> About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum dolorum dicta quia, delectus sequi tempore vitae dolore eaque, architecto eos mollitia modi minus porro velit? Beatae possimus facilis reprehenderit dicta.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem odio, veritatis sunt recusandae omnis incidunt iste, harum voluptatum blanditiis beatae officiis in exercitationem quod eius sit suscipit numquam modi?</p>
</div>

{% endblock content %}