{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div>
  <div class="offset-sm-1 offset-md-2 offset-lg-3 col-sm-10 col-md-8 col-lg-6 text-white my-5"><h3> Posts </h3></div>
    {% for post in posts %}
    <div class="jumbotron jumbotron-fluid">
      
        <!-- <div class="container"> -->
          <div class="offset-sm-1 offset-md-2 offset-lg-3 col-sm-10 col-md-8 col-lg-6">
          <h1 class="display-4">{{post.title}}</h1>
          {% if post.post_img %}
            <div style="display: flex;justify-content: center;">
            <img src="{{ post.post_img.url }}" alt="post img" style="width: 100%;">
          </div>
          {% endif %}
          <p class="lead">{{post.desc}}</p>
        </div>
      <!-- </div> -->
      </div>
      {% endfor %}
</div>

{% endblock content %}